body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f5f8ff;
  color: #0d1117;
  margin: 0;
  text-align: center;
  min-height: 100dvh;
  min-width: 18.75rem;
  width: 100%;
}

a {
  display: inline-block;
}

main {
  padding: 0;
}
