.footer-cont {
  width: 100%;
  text-align: center;
  padding: 1.54rem 0;
  border-top: 0.125rem solid var(--underline-color);
}

.social-item {
  margin: 0 auto;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1.25rem);
  gap: 1rem;
}

.copyright {
  margin: 0.6rem 0;
}

.policy-link {
  color: var(--color);
}
