:root {
  --footer-social-item-size: 1.25rem;
}

.footer-cont {
  width: 100%;
  padding: 1.5rem 0;
  border-top: 0.125rem solid var(--underline-color);
  text-align: center;
}

.social-item {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, var(--footer-social-item-size));
  gap: 1rem;
}

.copyright {
  margin: 0.6rem 0;
}

.policy-link {
  color: var(--color);
}
