:root {
  --posting-list-category-wrap-mb: var(--logo-to-body-item-distance);
  --posting-list-wrap-mb: calc(var(--logo-to-body-item-distance) + 0.6rem);
}

.posting-list-wrap {
  width: 90%;
  max-width: 30rem;
  margin-bottom: var(--posting-list-wrap-mb);
}

.category-wrap:not(:last-child) {
  margin-bottom: var(--posting-list-category-wrap-mb);
}

.category-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.posting-link-wrap {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posting-link-item {
  width: 100%;
  text-decoration: none;
  align-items: center;
  color: var(--color);
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.625rem;
  border-bottom: 0.0625rem solid var(--underline-color);
}
