.posting-wrap {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.posting-nav-wrap {
  justify-content: center;
  text-align: center;
  display: grid;
}

.posting-markdown-wrap {
  margin-bottom: 1rem;
}

.posting-nav-item {
  text-decoration: none;
  align-items: center;
  color: #121418;
  border-bottom: 0.0625rem solid #e1e4e8;
  margin-bottom: 0.6875rem;
}
