.posting-list-wrap {
  width: 90%;
  max-width: 30rem;
}

.category-wrap:not(:last-child) {
  margin-bottom: 4rem;
}

.category-title {
  text-align: center;
}

.posting-link-wrap {
  list-style: none;
  padding: 0;
}

.posting-link-item {
  width: 100%;
  text-decoration: none;
  align-items: center;
  color: #121418;
  margin-bottom: 0.6875rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.625rem;
  border-bottom: 0.0625rem solid #e1e4e8;
}
