.posting-list-wrap {
  width: 90%;
  max-width: 30rem;
  text-align: center;
}

.posting-category-wrap {
  padding-left: 1.25rem;
  list-style: none;
}

.posting-link {
  text-align: left;
  text-decoration: none;
  color: #121418;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 8.75rem;
  grid-gap: 0.625rem;
  border-bottom: 1px solid #12141844;
}
