.posting-wrap {
  width: 90%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  margin: 0 auto;
}

.posting-nav-item {
  text-decoration: none;
  align-items: center;
  color: #121418;
  border-bottom: 0.0625rem solid #e1e4e8;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-prev {
  float: left;
  text-align: left;
  margin: 0 1rem 0.6875rem 0;
}

.nav-next {
  float: right;
  text-align: right;
}
