.posting-wrap {
  width: 90%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
}

.posting-nav-item {
  text-decoration: none;
  align-items: center;
  color: #121418;
  border-bottom: 0.0625rem solid #e1e4e8;
}

.prev {
  justify-self: start;
  float: left;
  margin: 0 1rem 0.6875rem 0;
}

.next {
  justify-self: end;
  float: right;
  text-align: right;
  margin: 1px;
}
